<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <div class= "product22">
        <h1 class="productsname"><%= product.name %></h1>
            <hr>
            <div>
                <img class="coinimg1" src="<%= product.imageurl %>" alt="<%= product.name %>">
          </div>
          <a href="/products/<%= product.id %>/edit" class="btn btn-warning">Edit</a>
 ...
            <h2>Price: <%= product.price %></h2>
            <p>Description: <%= product.description %></p>
            <form style="display:initial" action="/products/<%= product.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <form action="/cart" method="post">
                <button class="btn" type="submit">Add to Cart</button>
            </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
